In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import csv
from tqdm import tqdm

In [2]:
# import data
df = pd.read_csv('00_df.csv', index_col=0)
pre_df = pd.read_csv('01_pre_df.csv', index_col=0)
interpoltaed_mv_df = pd.read_csv('02_interpoltaed_mv_df.csv', index_col=0)

In [3]:
df.shape   # (783926, 41)

(783926, 41)

In [4]:
pre_df.shape   # (783926, 37)

(783926, 37)

In [5]:
interpoltaed_mv_df.shape

(783926, 40)

In [6]:
# import list data

data_length_per_person = []
data_length_per_person_sum = []

with open('data_length_per_person.csv', 'r', encoding='utf-8') as f:
    rdr = csv.reader(f)
    for para in rdr:
        for i in para:
            data_length_per_person.append(int(i))


with open('data_length_per_person_sum.csv', 'r', encoding='utf-8') as f:
    rdr = csv.reader(f)
    for para in rdr:
        for i in para:
            data_length_per_person_sum.append(int(i))

In [7]:
len(data_length_per_person)   # 20169

20169

In [8]:
len(data_length_per_person_sum)   # 20169

20169

## interpoltaed_mv_df 기준 
논적으로 필요없는 데이터와 선형회귀로 결측치가 대치된 데이터만 사용해서 테스트

In [9]:
interpoltaed_mv_df

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,HCO3,FiO2,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,101.6,91.5,36.80,126.8,87.30,NaN,24.8,20.7,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,1,0
1,97.0,95.0,36.80,98.0,75.33,NaN,19.0,20.7,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,2,0
2,89.0,99.0,36.80,122.0,86.00,NaN,22.0,20.7,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,3,0
3,90.0,95.0,36.80,126.8,87.30,NaN,30.0,24.0,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,4,0
4,103.0,88.5,36.80,122.0,91.33,NaN,24.5,20.7,46.5,0.28,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783921,88.0,98.0,38.10,135.0,81.00,64.0,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,31,1
783922,96.0,98.0,38.72,174.0,97.00,72.0,16.0,2.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,32,1
783923,140.0,97.0,38.10,133.0,81.50,62.5,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,33,1
783924,120.0,96.0,38.10,154.0,118.00,105.0,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,34,1
783925,115.0,95.0,38.10,150.0,117.00,104.0,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,35,1

In [10]:
cols = interpoltaed_mv_df.columns
cols

Index(['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'BaseExcess',
       'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN', 'Alkalinephos',
       'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct', 'Glucose',
       'Lactate', 'Magnesium', 'Phosphate', 'Potassium', 'Bilirubin_total',
       'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC', 'Fibrinogen', 'Platelets',
       'Age', 'Gender', 'Unit1', 'Unit2', 'HospAdmTime', 'ICULOS',
       'SepsisLabel'],
      dtype='object')

In [11]:
interpoltaed_mv_df.drop(['Unit1', 'Unit2', 'HospAdmTime', 'ICULOS'], axis=1, inplace=True)

In [12]:
interpoltaed_mv_df.shape

(783926, 36)

In [13]:
cols = interpoltaed_mv_df.columns
len(cols)

36

## 환자별 20 row data를 추출
20 row가 되지 않는다면 drop / 20 이상의 row를 가지고 있다면 뒤쪽 데이터부터 20을 추출

In [14]:
len(data_length_per_person_sum)

20169

In [15]:
data_length_per_person_sum.insert(0,0)

In [16]:
len(data_length_per_person_sum)

20170

In [17]:
s_i = 0
e_i = 1

data_per_patient_for_20 = pd.DataFrame(columns = cols)
for i in tqdm(range(len(data_length_per_person_sum)-1)):
    s = data_length_per_person_sum[s_i]
    e = data_length_per_person_sum[e_i]
    if e - s >= 20:
        temp = interpoltaed_mv_df[e-20:e]
        data_per_patient_for_20 = pd.concat([data_per_patient_for_20, temp])
    
    s_i += 1
    e_i += 1

100%|██████████| 20169/20169 [07:31<00:00, 44.65it/s]

In [18]:
data_per_patient_for_20

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,HCO3,FiO2,...,TroponinI,Hct,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,SepsisLabel
34,102.0,91.5,36.80,103.0,75.67,NaN,24.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
35,99.0,89.0,37.11,113.0,96.33,NaN,26.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
36,97.0,89.0,36.80,110.0,72.00,NaN,29.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
37,110.0,89.0,36.80,108.0,90.67,NaN,24.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
38,108.0,89.0,36.80,139.0,102.33,NaN,26.0,20.0,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783921,88.0,98.0,38.10,135.0,81.00,64.0,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783922,96.0,98.0,38.72,174.0,97.00,72.0,16.0,2.0,25.7,0.5,...,NaN,27.8,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783923,140.0,97.0,38.10,133.0,81.50,62.5,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783924,120.0,96.0,38.10,154.0,118.00,105.0,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783925,115.0,95.0,38.10,150.0,117.00,104.0,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1

In [19]:
people = int(data_per_patient_for_20.shape[0]/20)
people

17585

In [20]:
diff = (len(data_length_per_person_sum)-1) - data_per_patient_for_20.shape[0]/20
loss = round(diff/(len(data_length_per_person_sum)-1)*100, 1)

print(f'20행 미만의 데이터 수 : {diff}, 손실율: {loss})')

20행 미만의 데이터 수 : 2584.0, 손실율: 12.8)

### sepsis vs non_sepsis 추출

In [21]:
# sepsis와 non sepsis 구분

s = 0
e = 20

sepsis_df = pd.DataFrame(columns=cols)
non_sepsis_df = pd.DataFrame(columns=cols)

for _ in tqdm(range(people)):
    if data_per_patient_for_20[s:e]['SepsisLabel'].sum() >= 1:
        data = data_per_patient_for_20[s:e]
        sepsis_df = pd.concat([sepsis_df, data])
    else: 
        data = data_per_patient_for_20[s:e]
        non_sepsis_df = pd.concat([non_sepsis_df, data])
        
    s += 20
    e += 20

100%|██████████| 17585/17585 [07:59<00:00, 36.68it/s]

In [22]:
sepsis_df.shape

(24700, 36)

In [23]:
non_sepsis_df.shape

(327000, 36)

## 3시간의 데이터를 보고 6시간 후의 패혈증 발병 정도를 예측
### label 우선 추출
1환자당 12개의 데이터 추출가능

In [24]:
e = 20

s_label = []
for i in tqdm(range(int(sepsis_df.shape[0]/20))):
    temp = sepsis_df["SepsisLabel"][e-12:e]
    s_label.append(list(temp))
    
    e += 20

100%|██████████| 1235/1235 [00:00<00:00, 21713.93it/s]

In [25]:
e = 20

ns_label = []
for i in tqdm(range(int(non_sepsis_df.shape[0]/20))):
    temp = non_sepsis_df["SepsisLabel"][e-12:e]
    ns_label.append(list(temp))
    
    e += 20

100%|██████████| 16350/16350 [00:00<00:00, 20139.75it/s]

### 훈련, 검증, 테스트 세트 구성
sepsis와 non_sepsis 데이터의 비율을 고려하지 않고 모든 데이터를 활용

In [26]:
sepsis_df_no_label = sepsis_df.drop(['SepsisLabel'], axis=1)
sepsis_df_no_label.shape

(24700, 35)

In [27]:
non_sepsis_df_no_label = non_sepsis_df.drop(['SepsisLabel'], axis=1)
non_sepsis_df_no_label.shape

(327000, 35)

### 선형회귀법으로 결측치를 대치하고 남은 결측치는 현 상태의 평균대치법으로 적용

In [28]:
cols = sepsis_df_no_label.columns

In [29]:
# # 전체 평균

# total_mean = []

# for col in cols:
#     total_mean.append(round(sepsis_df_no_label[col].mean(), 1))

# len(total_mean)

In [30]:
# 환자 별 평균
person_mean = []

s_i = 0
e_i = 20

for _ in tqdm(range(int(sepsis_df_no_label.shape[0]/20))):
    temp = []
    for col in cols:
        temp.append(sepsis_df_no_label[col][s_i:e_i].mean())
    person_mean.append(temp)
    
    s_i += 20
    e_i += 20
    
len(person_mean)

100%|██████████| 1235/1235 [00:06<00:00, 178.51it/s]

1235

### 환자별 평균 값으로 column을 채워도 결측인 값은 0으로 대치 / 이후 전체 평균으로 대치하는 방법도 시도

In [31]:
# 환자별 평균을 정리한 리스트에 결측값을 0으로 변환

for i in tqdm(range(len(person_mean))):
    for j in range(len(person_mean[i])):
        if str(person_mean[i][j]) == "nan":
            person_mean[i][j] = 0
        else:
            person_mean[i][j] = round(person_mean[i][j], 1)

100%|██████████| 1235/1235 [00:00<00:00, 10415.76it/s]

In [32]:
# DP 생성 후 결측치 없는 데이터 세트 구성

sepsis_df_no_label_mv = pd.DataFrame(columns = cols)

s_i = 0
e_i = 20

for i in tqdm(range(int(sepsis_df_no_label.shape[0]/20))):
    temp = pd.DataFrame()
    for j, col in enumerate(cols):
        temp[col] = sepsis_df_no_label[col][s_i:e_i].fillna(person_mean[i][j])
        
    sepsis_df_no_label_mv = pd.concat([sepsis_df_no_label_mv, temp])
    s_i += 20
    e_i += 20

100%|██████████| 1235/1235 [00:50<00:00, 24.63it/s]

### 1환자 데이터(20개)를 3개씩 묶어서 x_train 세트 구성

In [33]:
def ratio(li):
    l = len(li)
    train = l*0.8
    val = train + int(l*0.1)
    return int(train), int(val)

In [34]:
tr, va = ratio(s_label)
print(tr, va)

988 1111

In [35]:
# sepsis 데이터 > x_train, x_val, x_test

s = 0
x_train = []
x_val = []
x_test = []

for _ in tqdm(range(int(sepsis_df_no_label_mv.shape[0]/20))):
    if _ < 988:
        for i in range(12):     # 20개의 데이터 세트에서 12개의 데이터를 label에 달아 사용 가능
            temp = sepsis_df_no_label_mv[s+i : s+i+3].values.tolist()
            x_train.append(temp)
    elif _ < 1111:
        for i in range(12):     # 20개의 데이터 세트에서 12개의 데이터를 label에 달아 사용 가능
            temp = sepsis_df_no_label_mv[s+i : s+i+3].values.tolist()
            x_val.append(temp)
    else: 
        for i in range(12):     # 20개의 데이터 세트에서 12개의 데이터를 label에 달아 사용 가능
            temp = sepsis_df_no_label_mv[s+i : s+i+3].values.tolist()
            x_test.append(temp)
    s += 20

100%|██████████| 1235/1235 [00:17<00:00, 71.82it/s]

In [36]:
print(len(x_train)/12, len(x_val)/12, len(x_test)/12, len(x_train)//12 + len(x_val)//12 + len(x_test)//12)

988.0 123.0 124.0 1235

### non_sepsis_df 에도 동일하게 수행

In [37]:
# 환자 별 평균
person_mean = []

s_i = 0
e_i = 20

for _ in tqdm(range(int(non_sepsis_df_no_label.shape[0]/20))):
    temp = []
    for col in cols:
        temp.append(non_sepsis_df_no_label[col][s_i:e_i].mean())
    person_mean.append(temp)
    
    s_i += 20
    e_i += 20
    
len(person_mean)

100%|██████████| 16350/16350 [02:16<00:00, 119.95it/s]

16350

In [38]:
# 환자별 평균을 정리한 리스트에 결측값을 0으로 변환

for i in tqdm(range(len(person_mean))):
    for j in range(len(person_mean[i])):
        if str(person_mean[i][j]) == "nan":
            person_mean[i][j] = 0
        else:
            person_mean[i][j] = round(person_mean[i][j], 1)

100%|██████████| 16350/16350 [00:01<00:00, 8396.45it/s]

In [39]:
# DP 생성 후 결측치 없는 데이터 세트 구성

non_sepsis_df_no_label_mv = pd.DataFrame(columns = cols)

s_i = 0
e_i = 20

for i in tqdm(range(int(non_sepsis_df_no_label.shape[0]/20))):
    temp = pd.DataFrame()
    for j, col in enumerate(cols):
        temp[col] = non_sepsis_df_no_label[col][s_i:e_i].fillna(person_mean[i][j])
        
    non_sepsis_df_no_label_mv = pd.concat([non_sepsis_df_no_label_mv, temp])
    s_i += 20
    e_i += 20

100%|██████████| 16350/16350 [14:24<00:00, 18.91it/s]

In [40]:
# non_sepsis 데이터 > y_train, y_val, y_test

s = 0

for _ in tqdm(range(int(non_sepsis_df_no_label_mv.shape[0]/20))):
    if _ < 988:
        for i in range(12):     # 20개의 데이터 세트에서 12개의 데이터를 label에 달아 사용 가능
            temp = non_sepsis_df_no_label_mv[s+i : s+i+3].values.tolist()
            x_train.append(temp)
    elif _ < 1111:
        for i in range(12):     # 20개의 데이터 세트에서 12개의 데이터를 label에 달아 사용 가능
            temp = non_sepsis_df_no_label_mv[s+i : s+i+3].values.tolist()
            x_val.append(temp)
    elif _ < 1235:
        for i in range(12):     # 20개의 데이터 세트에서 12개의 데이터를 label에 달아 사용 가능
            temp = non_sepsis_df_no_label_mv[s+i : s+i+3].values.tolist()
            x_test.append(temp)
    else:
        break
    s += 20

  8%|▊         | 1235/16350 [00:07<01:32, 162.55it/s]

In [41]:
print(len(x_train)/12, len(x_val)/12, len(x_test)/12, len(x_train)//12 + len(x_val)//12 + len(x_test)//12)

1976.0 246.0 248.0 2470

In [42]:
print(len(x_train)/12, len(x_val)/12, len(x_test)/12, len(x_train)//12 + len(x_val)//12 + len(x_test)//12)

1976.0 246.0 248.0 2470

In [43]:
# sepsis label > train, val, test set 구성

y_train = []
y_val = []
y_test = []   # 988 123 124 1235

for _ in range(len(s_label)):
    if _ < 988:
        y_train += s_label[_]
    elif _ < 1111:
        y_val += s_label[_]
    elif _ < 1235:
        y_test += s_label[_]
    else:
        break

In [44]:
print(len(y_train)/12, len(y_val)/12, len(y_test)/12, len(y_train)//12 + len(y_val)//12 + len(y_test)//12)

988.0 123.0 124.0 1235

In [45]:
y_train += [0] * len(y_train)
y_val += [0] * len(y_val)
y_test += [0] * len(y_test)

In [46]:
print(len(y_train)/12, len(y_val)/12, len(y_test)/12, len(y_train)//12 + len(y_val)//12 + len(y_test)//12)

1976.0 246.0 248.0 2470

## 파이선 list로 되어있는 데이터 세트를 np.array로 변환

In [47]:
X_train = np.array(x_train)
X_train

array([[[133.  ,  94.  ,  37.6 , ..., 263.5 ,  27.92,   1.  ],
        [137.  ,  94.  ,  37.6 , ..., 263.5 ,  27.92,   1.  ],
        [138.  ,  96.  ,  39.33, ..., 263.5 ,  27.92,   1.  ]],

       [[137.  ,  94.  ,  37.6 , ..., 263.5 ,  27.92,   1.  ],
        [138.  ,  96.  ,  39.33, ..., 263.5 ,  27.92,   1.  ],
        [140.  ,  96.  ,  37.6 , ..., 263.5 ,  27.92,   1.  ]],

       [[138.  ,  96.  ,  39.33, ..., 263.5 ,  27.92,   1.  ],
        [140.  ,  96.  ,  37.6 , ..., 263.5 ,  27.92,   1.  ],
        [135.  ,  97.  ,  38.67, ..., 263.5 ,  27.92,   1.  ]],

       ...,

       [[ 93.  , 100.  ,  37.  , ..., 194.  ,  65.99,   1.  ],
        [ 93.  , 100.  ,  37.  , ..., 194.  ,  65.99,   1.  ],
        [ 94.  , 100.  ,  37.67, ..., 194.  ,  65.99,   1.  ]],

       [[ 93.  , 100.  ,  37.  , ..., 194.  ,  65.99,   1.  ],
        [ 94.  , 100.  ,  37.67, ..., 194.  ,  65.99,   1.  ],
        [ 91.  , 100.  ,  37.  , ..., 194.  ,  65.99,   1.  ]],

       [[ 94.  , 100.  ,  37.67, ..., 194.  ,  65.99,   1.  ],
        [ 91.  , 100.  ,  37.  , ..., 194.  ,  65.99,   1.  ],
        [ 90.  , 100.  ,  37.  , ..., 194.  ,  65.99,   1.  ]]])

In [48]:
X_train.shape

(23712, 3, 35)

In [49]:
X_val = np.array(x_val)
X_test = np.array(x_test)

Y_train = np.array(y_train)
Y_val = np.array(y_val)
Y_test = np.array(y_test)

# 데이터 세트 구성 완료
## 모델은 이전과 동일하게 구성

In [111]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, LSTM, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [78]:
hidden_units = 128

model = Sequential()
model.add(LSTM(hidden_units, activation='tanh', input_shape=(3, 35)))
model.add(Dense(64, activation="relu"))
model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_3 (LSTM)               (None, 128)               83968

 dense_6 (Dense)             (None, 64)                8256

 dense_7 (Dense)             (None, 1)                 65

=================================================================
Total params: 92,289
Trainable params: 92,289
Non-trainable params: 0
_________________________________________________________________

In [95]:
model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=False), optimizer='SGD', metrics=['accuracy'])

In [91]:
model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=False), optimizer=tf.keras.optimizers.SGD(learning_rate=0.06), metrics=['accuracy'])

In [96]:
hist = model.fit(X_train, Y_train, epochs=10, batch_size=32, validation_data=(X_val, Y_val))

Epoch 1/10
741/741 [==============================] - 3s 3ms/step - loss: 0.5944 - accuracy: 0.6765 - val_loss: 0.6273 - val_accuracy: 0.6524
Epoch 2/10
741/741 [==============================] - 2s 3ms/step - loss: 0.6016 - accuracy: 0.6654 - val_loss: 0.6274 - val_accuracy: 0.6507
Epoch 3/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5983 - accuracy: 0.6679 - val_loss: 0.6252 - val_accuracy: 0.6372
Epoch 4/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5961 - accuracy: 0.6684 - val_loss: 0.6178 - val_accuracy: 0.6640
Epoch 5/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5939 - accuracy: 0.6746 - val_loss: 0.6266 - val_accuracy: 0.6331
Epoch 6/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5901 - accuracy: 0.6765 - val_loss: 0.6272 - val_accuracy: 0.6443
Epoch 7/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5895 - accuracy: 0.6750 - val_loss: 0.6289 - val_accuracy: 0.6409
Epoch 8/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5887 - accuracy: 0.6762 - val_loss: 0.6298 - val_accuracy: 0.6318
Epoch 9/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5883 - accuracy: 0.6758 - val_loss: 0.6166 - val_accuracy: 0.6653
Epoch 10/10
741/741 [==============================] - 2s 3ms/step - loss: 0.5863 - accuracy: 0.6755 - val_loss: 0.6159 - val_accuracy: 0.6389

학습 안됨. 

1. 초기 데이터 세트(df)에서 선형회귀 방법으로 결측치를 대치하고 변화되지 않는 결측값은 0으로 처리.
2. sepsis와 non_sepsis군을 나누어 전처리를 진행하였고, 3시간의 데이터를 보고 6시간 후 sepsis 확률을 예측할 수 있는 모습으로 전처리
3. sepsis 데이터량이 non_sepsis에 비해 많이 적어 sepsis 양에 맞게 non_sepsis 데이터를 제한하여 train, val, test를 구성 
4. 기본적인 LSTM의 모델을 구성하여 학습을 진행
5. 학습 안됨

In [54]:
result = model.predict(X_test)
print('## result ##')

o = 0
x = 0

for y, r in zip(Y_test, result):
    if y == r:
        o += 1
    else:
        x += 1
    
print(o, x, o+x)

## result ##
1199 1777 2976

In [55]:
print(o/(o+x), x/(o+x))

0.40288978494623656 0.5971102150537635

### 의문
>혹시 인풋은 3차원인데 아웃풋은 2차원이라서 그런가?

In [56]:
test = Y_train.reshape(-1, 1)
test

array([[0],
       [0],
       [1],
       ...,
       [0],
       [0],
       [0]])

In [57]:
t_val = Y_val.reshape(-1, 1)

In [58]:
hist = model.fit(X_train, test, epochs=5, batch_size=128, validation_data=(X_val, t_val))

Epoch 1/5
186/186 [==============================] - 2s 10ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 2/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 3/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 4/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 5/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028

loss가 확인되지 않음.

### 의문
>혹시 shuffle이 안되어서 학습이 안될 수 도 있기 때문에 shuffle 진행 후 다시 시도

In [59]:
## Shuffle 기능 확인

import numpy as np

# x = np.arange(10).reshape(-1, 1)
# print ("x: ", x)
y = np.arange(10).reshape(-1, 1)
# print ("y: ", y)

x = np.array([[0,1], [1,2], [2,3], [3,4], [4,5], [5,6], [6,7], [7,8], [8,9], [9,10]])

s = np.arange(x.shape[0])
print('s', s)
np.random.shuffle(s)

x = x[s]
print ("x: ", x)
y = y[s]
print ("y: ", y)

s [0 1 2 3 4 5 6 7 8 9]
x:  [[ 6  7]
 [ 2  3]
 [ 4  5]
 [ 9 10]
 [ 5  6]
 [ 8  9]
 [ 0  1]
 [ 3  4]
 [ 1  2]
 [ 7  8]]
y:  [[6]
 [2]
 [4]
 [9]
 [5]
 [8]
 [0]
 [3]
 [1]
 [7]]

In [60]:
# Train, Test data 적용
i = np.arange(X_train.shape[0])
np.random.shuffle(i)

train = X_train[i]
test = Y_train[i]

In [61]:
# Val data 적용

i = np.arange(X_val.shape[0])
np.random.shuffle(i)

sx_val = X_val[i]
sy_val = Y_val[i]

In [62]:
hist = model.fit(train, test, epochs=5, batch_size=128, validation_data=(sx_val, sy_val))

Epoch 1/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 2/5
186/186 [==============================] - 2s 8ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 3/5
186/186 [==============================] - 2s 8ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 4/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 5/5
186/186 [==============================] - 2s 9ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028

변화 없음

### 의문
> 혹시 node가 너무 적어서 학습이 안되는지 확인

In [63]:
hidden_units = 512

model = Sequential()
model.add(LSTM(hidden_units, activation='relu', input_shape=(3, 35)))
model.add(Dense(64))
model.add(Dense(1, activation='softmax'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_1 (LSTM)               (None, 512)               1122304

 dense_2 (Dense)             (None, 64)                32832

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 1,155,201
Trainable params: 1,155,201
Non-trainable params: 0
_________________________________________________________________

In [64]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [65]:
hist = model.fit(train, test, epochs=5, batch_size=128, validation_data=(sx_val, sy_val))

Epoch 1/5
186/186 [==============================] - 9s 42ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 2/5
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 3/5
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 4/5
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 5/5
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028

변화 없음

### 의문
> 혹시 epochs가 너무 적어서 학습이 안되는지 확인

In [66]:
hist = model.fit(train, test, epochs=20, batch_size=128, validation_data=(sx_val, sy_val))

Epoch 1/20
186/186 [==============================] - 8s 41ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 2/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 3/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 4/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 5/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 6/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 7/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 8/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 9/20
186/186 [==============================] - 8s 41ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 10/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 11/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 12/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 13/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 14/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 15/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 16/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 17/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 18/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 19/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028
Epoch 20/20
186/186 [==============================] - 7s 40ms/step - loss: 0.0000e+00 - accuracy: 0.4038 - val_loss: 0.0000e+00 - val_accuracy: 0.4028

변화 없음

In [116]:
hidden_units = 128

model = Sequential()
model.add(LSTM(hidden_units, activation='tanh', input_shape=(3, 35)))
model.add(Dropout(0.1))
model.add(Dense(64, activation="relu"))
model.add(Dropout(0.3))
model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_8 (LSTM)               (None, 128)               83968

 dropout_2 (Dropout)         (None, 128)               0

 dense_16 (Dense)            (None, 64)                8256

 dropout_3 (Dropout)         (None, 64)                0

 dense_17 (Dense)            (None, 1)                 65

=================================================================
Total params: 92,289
Trainable params: 92,289
Non-trainable params: 0
_________________________________________________________________

In [117]:
model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=False), optimizer=tf.keras.optimizers.SGD(lr=0.03), metrics=['accuracy'])

In [118]:
hist = model.fit(train, test, epochs=50, batch_size=128, validation_data=(sx_val, sy_val))

Epoch 1/50
186/186 [==============================] - 3s 9ms/step - loss: 0.6440 - accuracy: 0.6251 - val_loss: 0.6270 - val_accuracy: 0.6311
Epoch 2/50
186/186 [==============================] - 1s 7ms/step - loss: 0.6225 - accuracy: 0.6452 - val_loss: 0.6191 - val_accuracy: 0.6419
Epoch 3/50
186/186 [==============================] - 1s 7ms/step - loss: 0.6144 - accuracy: 0.6563 - val_loss: 0.6227 - val_accuracy: 0.6443
Epoch 4/50
186/186 [==============================] - 1s 7ms/step - loss: 0.6104 - accuracy: 0.6584 - val_loss: 0.6094 - val_accuracy: 0.6582
Epoch 5/50
186/186 [==============================] - 1s 7ms/step - loss: 0.6063 - accuracy: 0.6661 - val_loss: 0.6120 - val_accuracy: 0.6616
Epoch 6/50
186/186 [==============================] - 1s 7ms/step - loss: 0.6026 - accuracy: 0.6649 - val_loss: 0.6046 - val_accuracy: 0.6562
Epoch 7/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5996 - accuracy: 0.6694 - val_loss: 0.6105 - val_accuracy: 0.6633
Epoch 8/50
186/186 [==============================] - 1s 7ms/step - loss: 0.6011 - accuracy: 0.6669 - val_loss: 0.6364 - val_accuracy: 0.6040
Epoch 9/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5996 - accuracy: 0.6683 - val_loss: 0.6095 - val_accuracy: 0.6440
Epoch 10/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5968 - accuracy: 0.6723 - val_loss: 0.6254 - val_accuracy: 0.6436
Epoch 11/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5979 - accuracy: 0.6711 - val_loss: 0.6080 - val_accuracy: 0.6409
Epoch 12/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5923 - accuracy: 0.6755 - val_loss: 0.6143 - val_accuracy: 0.6453
Epoch 13/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5906 - accuracy: 0.6759 - val_loss: 0.6088 - val_accuracy: 0.6474
Epoch 14/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5892 - accuracy: 0.6775 - val_loss: 0.6148 - val_accuracy: 0.6382
Epoch 15/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5886 - accuracy: 0.6764 - val_loss: 0.6158 - val_accuracy: 0.6260
Epoch 16/50
186/186 [==============================] - 1s 8ms/step - loss: 0.5852 - accuracy: 0.6810 - val_loss: 0.6083 - val_accuracy: 0.6531
Epoch 17/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5817 - accuracy: 0.6841 - val_loss: 0.6053 - val_accuracy: 0.6545
Epoch 18/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5795 - accuracy: 0.6834 - val_loss: 0.6084 - val_accuracy: 0.6653
Epoch 19/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5840 - accuracy: 0.6801 - val_loss: 0.6133 - val_accuracy: 0.6626
Epoch 20/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5826 - accuracy: 0.6778 - val_loss: 0.6118 - val_accuracy: 0.6626
Epoch 21/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5794 - accuracy: 0.6832 - val_loss: 0.6022 - val_accuracy: 0.6497
Epoch 22/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5779 - accuracy: 0.6850 - val_loss: 0.5975 - val_accuracy: 0.6514
Epoch 23/50
186/186 [==============================] - 1s 8ms/step - loss: 0.5767 - accuracy: 0.6868 - val_loss: 0.6300 - val_accuracy: 0.6450
Epoch 24/50
186/186 [==============================] - 1s 8ms/step - loss: 0.5766 - accuracy: 0.6883 - val_loss: 0.6177 - val_accuracy: 0.6453
Epoch 25/50
186/186 [==============================] - 1s 7ms/step - loss: 0.5736 - accuracy: 0.6850 - val_loss: 0.6138 - val_accuracy: 0.6538
Epoch 26/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5740 - accuracy: 0.6904 - val_loss: 0.6142 - val_accuracy: 0.6450
Epoch 27/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5714 - accuracy: 0.6911 - val_loss: 0.6015 - val_accuracy: 0.6596
Epoch 28/50
186/186 [==============================] - 2s 10ms/step - loss: 0.5647 - accuracy: 0.6950 - val_loss: 0.6095 - val_accuracy: 0.6443
Epoch 29/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5697 - accuracy: 0.6916 - val_loss: 0.5956 - val_accuracy: 0.6545
Epoch 30/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5716 - accuracy: 0.6917 - val_loss: 0.6006 - val_accuracy: 0.6582
Epoch 31/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5684 - accuracy: 0.6920 - val_loss: 0.6051 - val_accuracy: 0.6558
Epoch 32/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5625 - accuracy: 0.6963 - val_loss: 0.6029 - val_accuracy: 0.6660
Epoch 33/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5629 - accuracy: 0.6935 - val_loss: 0.6036 - val_accuracy: 0.6772
Epoch 34/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5655 - accuracy: 0.6951 - val_loss: 0.5893 - val_accuracy: 0.6599
Epoch 35/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5645 - accuracy: 0.6956 - val_loss: 0.5962 - val_accuracy: 0.6609
Epoch 36/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5596 - accuracy: 0.6988 - val_loss: 0.5993 - val_accuracy: 0.6626
Epoch 37/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5652 - accuracy: 0.6955 - val_loss: 0.6087 - val_accuracy: 0.6663
Epoch 38/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5622 - accuracy: 0.6996 - val_loss: 0.6047 - val_accuracy: 0.6606
Epoch 39/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5609 - accuracy: 0.6966 - val_loss: 0.6139 - val_accuracy: 0.6575
Epoch 40/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5595 - accuracy: 0.7014 - val_loss: 0.6018 - val_accuracy: 0.6453
Epoch 41/50
186/186 [==============================] - 1s 8ms/step - loss: 0.5610 - accuracy: 0.7021 - val_loss: 0.6032 - val_accuracy: 0.6667
Epoch 42/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5601 - accuracy: 0.7002 - val_loss: 0.5983 - val_accuracy: 0.6491
Epoch 43/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5556 - accuracy: 0.7012 - val_loss: 0.6091 - val_accuracy: 0.6538
Epoch 44/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5581 - accuracy: 0.6996 - val_loss: 0.6019 - val_accuracy: 0.6555
Epoch 45/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5555 - accuracy: 0.7036 - val_loss: 0.6084 - val_accuracy: 0.6463
Epoch 46/50
186/186 [==============================] - 2s 8ms/step - loss: 0.5599 - accuracy: 0.7004 - val_loss: 0.6271 - val_accuracy: 0.6375
Epoch 47/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5618 - accuracy: 0.6994 - val_loss: 0.5939 - val_accuracy: 0.6643
Epoch 48/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5551 - accuracy: 0.7037 - val_loss: 0.6261 - val_accuracy: 0.6355
Epoch 49/50
186/186 [==============================] - 1s 8ms/step - loss: 0.5555 - accuracy: 0.7058 - val_loss: 0.6124 - val_accuracy: 0.6501
Epoch 50/50
186/186 [==============================] - 2s 9ms/step - loss: 0.5608 - accuracy: 0.7007 - val_loss: 0.6105 - val_accuracy: 0.6521

In [130]:
from sklearn.model_selection import GridSearchCV 
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor

In [140]:
param_grid = {
    'n_estimators': [100, 150, 200, 250],
    'max_depth': [None, 6, 9, 12],
}

In [141]:
estimator = RandomForestRegressor()

In [142]:
from sklearn.model_selection import KFold

kf = KFold(random_state=30, n_splits=10, shuffle=True )

In [143]:
grid_search = GridSearchCV(estimator=estimator, param_grid=param_grid, n_jobs=-1, verbose=2)

# fit with (x_train, y_train)
grid_search.fit(x_train, y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
80 fits failed out of a total of 80.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
80 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\ensemble\_forest.py", line 327, in fit
    X, y = self._validate_data(
  File "C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\utils\validation.py", line 964, in check_X_y
    X = check_array(
  File "C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\utils\validation.py", line 794, in check_array
    raise ValueError(
ValueError: Found array with dim 3. Estimator expected <= 2.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\kjong\Anaconda3\envs\ai\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

ValueError: Found array with dim 3. Estimator expected <= 2.