In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import csv
from tqdm import tqdm

In [2]:
# import data
df = pd.read_csv('00_df.csv', index_col=0)
pre_df = pd.read_csv('01_pre_df.csv', index_col=0)
interpoltaed_mv_df = pd.read_csv('02_interpoltaed_mv_df.csv', index_col=0)

In [3]:
df.shape   # (783926, 41)

(783926, 41)

In [4]:
pre_df.shape   # (783926, 37)

(783926, 37)

In [5]:
interpoltaed_mv_df.shape

(783926, 40)

In [6]:
# import list data

data_length_per_person = []
data_length_per_person_sum = []

with open('data_length_per_person.csv', 'r', encoding='utf-8') as f:
    rdr = csv.reader(f)
    for para in rdr:
        for i in para:
            data_length_per_person.append(int(i))


with open('data_length_per_person_sum.csv', 'r', encoding='utf-8') as f:
    rdr = csv.reader(f)
    for para in rdr:
        for i in para:
            data_length_per_person_sum.append(int(i))

In [7]:
len(data_length_per_person)   # 20169

20169

In [8]:
len(data_length_per_person_sum)   # 20169

20169

## interpoltaed_mv_df 기준 
논적으로 필요없는 데이터와 선형회귀로 결측치가 대치된 데이터만 사용해서 테스트

In [9]:
interpoltaed_mv_df

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,HCO3,FiO2,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,101.6,91.5,36.80,126.8,87.30,NaN,24.8,20.7,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,1,0
1,97.0,95.0,36.80,98.0,75.33,NaN,19.0,20.7,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,2,0
2,89.0,99.0,36.80,122.0,86.00,NaN,22.0,20.7,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,3,0
3,90.0,95.0,36.80,126.8,87.30,NaN,30.0,24.0,46.5,0.30,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,4,0
4,103.0,88.5,36.80,122.0,91.33,NaN,24.5,20.7,46.5,0.28,...,10.2,NaN,327.5,83.14,0,NaN,NaN,-0.03,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783921,88.0,98.0,38.10,135.0,81.00,64.0,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,31,1
783922,96.0,98.0,38.72,174.0,97.00,72.0,16.0,2.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,32,1
783923,140.0,97.0,38.10,133.0,81.50,62.5,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,33,1
783924,120.0,96.0,38.10,154.0,118.00,105.0,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,34,1
783925,115.0,95.0,38.10,150.0,117.00,104.0,16.0,0.0,25.7,0.50,...,14.0,NaN,325.5,62.29,1,NaN,NaN,-0.03,35,1

In [10]:
cols = interpoltaed_mv_df.columns
cols

Index(['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'BaseExcess',
       'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN', 'Alkalinephos',
       'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct', 'Glucose',
       'Lactate', 'Magnesium', 'Phosphate', 'Potassium', 'Bilirubin_total',
       'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC', 'Fibrinogen', 'Platelets',
       'Age', 'Gender', 'Unit1', 'Unit2', 'HospAdmTime', 'ICULOS',
       'SepsisLabel'],
      dtype='object')

In [17]:
interpoltaed_mv_df.drop(['Unit1', 'Unit2', 'HospAdmTime', 'ICULOS'], axis=1, inplace=True)

In [24]:
interpoltaed_mv_df.shape

(783926, 36)

In [32]:
cols = interpoltaed_mv_df.columns
len(cols)

36

## 환자별 20 row data를 추출
20 row가 되지 않는다면 drop / 20 이상의 row를 가지고 있다면 뒤쪽 데이터부터 20을 추출

In [26]:
len(data_length_per_person_sum)

20169

In [27]:
data_length_per_person_sum.insert(0,0)

In [29]:
len(data_length_per_person_sum)

20170

In [40]:
s_i = 0
e_i = 1

data_per_patient_for_20 = pd.DataFrame(columns = cols)
for i in tqdm(range(len(data_length_per_person_sum)-1)):
    s = data_length_per_person_sum[s_i]
    e = data_length_per_person_sum[e_i]
    if e - s >= 20:
        temp = interpoltaed_mv_df[e-20:e]
        data_per_patient_for_20 = pd.concat([data_per_patient_for_20, temp])
    
    s_i += 1
    e_i += 1

100%|██████████| 20169/20169 [08:32<00:00, 39.37it/s]

In [41]:
data_per_patient_for_20

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,HCO3,FiO2,...,TroponinI,Hct,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,SepsisLabel
34,102.0,91.5,36.80,103.0,75.67,NaN,24.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
35,99.0,89.0,37.11,113.0,96.33,NaN,26.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
36,97.0,89.0,36.80,110.0,72.00,NaN,29.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
37,110.0,89.0,36.80,108.0,90.67,NaN,24.0,20.7,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
38,108.0,89.0,36.80,139.0,102.33,NaN,26.0,20.0,46.5,0.3,...,NaN,36.7,12.3,NaN,10.2,NaN,327.5,83.14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783921,88.0,98.0,38.10,135.0,81.00,64.0,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783922,96.0,98.0,38.72,174.0,97.00,72.0,16.0,2.0,25.7,0.5,...,NaN,27.8,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783923,140.0,97.0,38.10,133.0,81.50,62.5,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783924,120.0,96.0,38.10,154.0,118.00,105.0,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1
783925,115.0,95.0,38.10,150.0,117.00,104.0,16.0,0.0,25.7,0.5,...,NaN,31.2,11.6,29.8,14.0,NaN,325.5,62.29,1,1

In [51]:
people = int(data_per_patient_for_20.shape[0]/20)
people

17585.0

In [60]:
diff = (len(data_length_per_person_sum)-1) - data_per_patient_for_20.shape[0]/20
loss = round(diff/(len(data_length_per_person_sum)-1)*100, 1)

print(f'20행 미만의 데이터 수 : {diff}, 손실율: {loss})')

20행 미만의 데이터 수 : 2584.0, 손실율: 12.8)

### sepsis vs non_sepsis 추출

In [62]:
# sepsis와 non sepsis 구분

s = 0
e = 20

sepsis_df = pd.DataFrame(columns=cols)
non_sepsis_df = pd.DataFrame(columns=cols)

for _ in tqdm(range(people)):
    if data_per_patient_for_20[s:e]['SepsisLabel'].sum() >= 1:
        data = data_per_patient_for_20[s:e]
        sepsis_df = pd.concat([sepsis_df, data])
    else: 
        data = data_per_patient_for_20[s:e]
        non_sepsis_df = pd.concat([non_sepsis_df, data])
        
    s += 20
    e += 20

100%|██████████| 17585/17585 [07:33<00:00, 38.79it/s]

In [107]:
sepsis_df.shape

(24700, 36)

In [64]:
non_sepsis_df.shape

(327000, 36)

### 3시간의 데이터를 보고 6시간 후의 패혈증 발병 정도를 예측
1환자당 12개의 데이터 추출가능

In [85]:
e = 20

s_label = []
for i in tqdm(range(int(sepsis_df.shape[0]/20))):
    temp = sepsis_df["SepsisLabel"][e-12:e]
    s_label.append(list(temp))
    
    e += 20

100%|██████████| 1235/1235 [00:00<00:00, 14736.20it/s]

In [92]:
e = 20

ns_label = []
for i in tqdm(range(int(non_sepsis_df.shape[0]/20))):
    temp = non_sepsis_df["SepsisLabel"][e-12:e]
    ns_label.append(list(temp))
    
    e += 20

100%|██████████| 16350/16350 [00:00<00:00, 16659.78it/s]

### 훈련, 검증, 테스트 세트 구성
sepsis와 non_sepsis 데이터의 비율을 고려하지 않고 모든 데이터를 활용

In [96]:
x_train, x_val, x_test = [], [], []
y_train, y_val, y_test = [], [], []

In [104]:
def ratio(li):
    l = len(li)
    train = l*0.8
    val = train + int(l*0.1)
    test = val + int(l*0.1)
    return int(train), int(val), int(test)

In [105]:
tr, va, te = ratio(s_label)
print(tr, va, te)

988 1111 1234

In [118]:
sepsis_df_no_label = sepsis_df.drop(['SepsisLabel'], axis=1)
sepsis_df_no_label.shape

(24700, 35)

In [119]:
non_sepsis_df_no_label = non_sepsis_df.drop(['SepsisLabel'], axis=1)
non_sepsis_df_no_label.shape

(327000, 35)

### 선형회귀법으로 결측치를 대치하고 남은 결측치는 현 상태의 평균대치법으로 적용

In [143]:
total_mean = []
person_mean = []

s_i = 0
e_i = 20

for col in cols:
    total_mean.append(sepsis_df_no_label[col].mean())
#     for _ in range(int(sepsis_df_no_label.shape[0]/20)):
#         person_mean.append(sepsis_df_no_label[col][s_i:e_I].mean())

total_mean

KeyError: 'SepsisLabel'

In [142]:
non_sepsis_df_no_label.isnull().sum()

HR                       0
O2Sat                   60
Temp                  3120
SBP                   2920
MAP                      0
DBP                 115680
Resp                   220
BaseExcess          121500
HCO3                  3880
FiO2                134100
pH                  112320
PaCO2               122560
SaO2                195540
AST                 234200
BUN                   2280
Alkalinephos        237400
Calcium              55940
Chloride              3960
Creatinine            2480
Bilirubin_direct    317800
Glucose               2620
Lactate             204680
Magnesium            16740
Phosphate            53660
Potassium             2980
Bilirubin_total     236120
TroponinI           318440
Hct                   1800
Hgb                   3060
PTT                  66480
WBC                   4320
Fibrinogen          285460
Platelets             3780
Age                      0
Gender                   0
dtype: int64

### 1환자 데이터(20개)를 3개씩 묶어서 x_train 세트 구성

In [138]:
s = 0
x_train = []

for _ in tqdm(range(int(sepsis_df_no_label.shape[0]/20))):
    for i in range(12):
        temp = sepsis_df_no_label[s+i : s+i+3].values.tolist()
        x_train.append(temp)
    s += 20

100%|██████████| 1235/1235 [00:01<00:00, 623.57it/s]

In [135]:
sepsis_df_no_label[s+i : s+i+3].values.tolist()

[[118.0,
  96.0,
  37.6,
  138.0,
  108.0,
  88.0,
  26.0,
  1.4,
  27.5,
  0.5,
  7.4,
  47.4,
  91.0,
  nan,
  18.5,
  nan,
  7.9,
  107.3,
  1.0,
  nan,
  120.0,
  2.2,
  2.0,
  3.2,
  3.7,
  nan,
  nan,
  28.8,
  9.9,
  32.1,
  10.6,
  341.8,
  263.5,
  27.92,
  1],
 [111.0,
  97.0,
  37.39,
  136.0,
  106.0,
  86.0,
  26.0,
  1.4,
  27.5,
  0.5,
  7.4,
  47.4,
  91.0,
  nan,
  18.5,
  nan,
  7.9,
  107.3,
  1.0,
  nan,
  120.0,
  2.2,
  2.0,
  3.2,
  3.7,
  nan,
  nan,
  28.8,
  9.9,
  32.1,
  10.6,
  341.8,
  263.5,
  27.92,
  1],
 [116.0,
  96.0,
  37.72,
  143.0,
  109.0,
  88.0,
  30.0,
  1.4,
  27.5,
  0.5,
  7.4,
  47.4,
  91.0,
  nan,
  18.5,
  nan,
  7.9,
  107.3,
  1.0,
  nan,
  120.0,
  2.2,
  2.0,
  3.2,
  3.7,
  nan,
  nan,
  28.8,
  9.9,
  32.1,
  10.6,
  341.8,
  263.5,
  27.92,
  1]]